/* for test only */
@import "./site_css.css";
/* until here */

/*  GENERAL RULES */

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.english {
    direction: ltr;
    text-align: left;
}
.hebrew {
    direction: rtl;
    text-align: right;
}


/* .container general rules */

.container ul {
    margin-bottom: 14px;
}

/* TAGS styles */

/* this is the container of the part of the page we fill */
/* #co_body_container */

#co_body_container button {
    background-color: #f4741f;
    color: #fff;
    border: 1px solid #67112a;
    font-family: Muli, sans-serif;
    font-size: 16.8px;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 12px 30px;
    border-radius: 5px;
    cursor: pointer;
    margin: 12px 0px;
}

#co_body_container button:hover {
    background-color: #d45f11;
}

hr {
    margin-bottom: 40px;
    margin-top: 40px;
    border: 2px solid #f47721;
}

a {
    color: var(--theme-primary-color-alt1);
}
a:hover {
    color: var(--theme-secondary-color);
}
a:visited {
    color: var(--theme-secondary-color-alt2);
}
.my-button, .my-label {
    background-color: var(--theme-primary-color);
}
.my-button:hover, .my-label:hover, .my-button:checked + .my-label {
    background-color: var(--theme-primary-color-alt1);
}

/* CLASSES styles */
/* every time you use a child class like "board-beware", use also the parent class "board" */

/* template */
.board, .important {
    position: relative;
    padding: 10px;
    margin: 10px 0;
    vertical-align: middle;
    font-weight: bold;
    border-style: solid;
    border-width: 0px;

    /* default: ltr */
    border-left-width : 4px;
    padding-left: 50px;
}
.board::before,
.important::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    top: 0;
    height: 100%;
    width: 30px;
    margin: 0 10px;
    
    /* default: ltr */
    left: 0;
}
/* rtl */
html[lang="he"] .board, 
html[lang="he"] .important {
    border-right-width : 4px;
    padding-right: 50px;
    border-left-width: 0;
    padding-left: 0;
}
html[lang="he"] .board::before, 
html[lang="he"] .important::before {
    right: 0;
    left:auto;
}

/* board-beware */
.important, .board-beware {
    background-color: #ffe6e6;
    border-color:#e01738;
}
.important::before, .board-beware::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Ctext y='50%25' x='50%25' dominant-baseline='middle' text-anchor='middle' font-size='80'%3E🚨%3C/text%3E%3C/svg%3E");
}

/* board-notice */
.board-notice {
    background-color: #fff3cd;
    border-color:#856404;
}
.board-notice::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Ctext y='50%25' x='50%25' dominant-baseline='middle' text-anchor='middle' font-size='80'%3E💡%3C/text%3E%3C/svg%3E");
}

/* board-info */
.board-info {
    background-color: #ddffdd;
    border-color:green;
}
.board-info::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Ctext y='50%25' x='50%25' dominant-baseline='middle' text-anchor='middle' font-size='80'%3E🛈%3C/text%3E%3C/svg%3E");
}


/* FORMS styles */

/* user-form is all the forms in the site */
.userform-form h1 {
    color: #f47721;
}
.userform-form {
    margin: auto;
    max-width: 800px;
}

/* make phone area field wider (to show all the placeholder)  */
.userform-form [name$="[area]"],
.userform-form [name$="[country]"] {
    width: 6rem !important;
    opacity: 1;
}

.userform-form input::-webkit-input-placeholder { /* WebKit browsers */
    color: #999 !important;
    opacity: 1;
}
.userform-form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999 !important;
    opacity: 1;
}
.userform-form input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999 !important;
    opacity: 1;
}
.userform-form input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999 !important;
    opacity: 1;
}
.userform-form input::placeholder { /* Modern browsers */
    color: #999 !important;
    opacity: 1;
}
