

@font-face{font-family:Montserrat;font-style:normal;font-display:swap;font-weight:300;src:url(/css/vendor/fonts/montserrat/files/montserrat-all-300-normal.woff) format("woff")}
@font-face{font-family:Montserrat;font-style:normal;font-display:swap;font-weight:400;src:url(/css/vendor/fonts/montserrat/files/montserrat-all-400-normal.woff) format("woff")}
@font-face{font-family:Oswald;font-style:normal;font-display:swap;font-weight:400;src:url(/css/vendor/fonts/oswald/files/oswald-all-400-normal.woff) format("woff")}
@font-face{font-family:Anton;font-style:normal;font-display:swap;font-weight:400;src:url(/css/vendor/fonts/anton/files/anton-all-400-normal.woff) format("woff")}
@font-face{font-family:Yellowtail;font-style:normal;font-display:swap;font-weight:400;src:url(/css/vendor/fonts/yellowtail/files/yellowtail-all-400-normal.woff) format("woff")}

/* SELECTORS */
/* all the minisites */
.zmanim{font-family:Montserrat,sans-serif}
.co_calendar_head,.co_photo_gallery_head,.custom_message .title,.feature_caption,.feature_caption a,.features_title,.prep-title,.prepResource-title,.sPromo-wrap .caption{font-family:Oswald,Arimo,sans-serif}
[class^=widget-]{font-family:Anton,sans-serif}
.cco_templateless_template a{font-family:Montserrat,sans-serif}
.chabad_header .headerTitle,.chabad_header .headerTitle a{font-family:Anton,sans-serif}
.article-header__subtitle,.article-header__title{font-family:Montserrat,sans-serif}
.centerName{font-family:Yellowtail,sans-serif}
html body.cco_body .holidayDates,html body.cco_body .holidayDates p{font-family:Montserrat,sans-serif}
div#chabad_head .chabad_navigator_bar ul li a{font-family:Montserrat,sans-serif!important}
.bannerCta button,.donate_link a,.read-more_link a{font-family:Montserrat,sans-serif}
.textWrapper span{font-family:Montserrat,sans-serif}
.custom_message .message{font-family:Montserrat,sans-serif}
.co_calendar_text{font-family:Montserrat,sans-serif}
.co_date,.co_title_calendar a{font-family:Oswald,Arimo,sans-serif}
#footerContainer,#footerContainer a,.footer,.footer a{font-family:Montserrat,sans-serif}
.feature_caption,.feature_caption a{font-family:Oswald,Arimo,sans-serif}


/* VARIABLES */
/* insert into the head part of the amin page of the minisite in order to activate those variables */
/* all the minisites */
:root{
    --minisite-bright-accent-color: #f47721;
    --minisite-dark-accent-color: #8f3533;
    --minisite-light-bg: #f9f9f9;
    --minisite-text-dark: #333333;
    --minisite-text-light: #ffffff;
}
/* Shavuos minisite */
:root{
    --shavuot-minisite-primary-color: #368e89;
    --shavuot-minisite-secondary-color: #b2dfe0;
}